<fieldset id="newtrip">
<legend> Invite a Tripster to Your Trip </legend>

<%= form_for @invite, url: {action: "create"} do |f| %>

 
      <%= f.label :handle, "Twitter Handle" %>
      <%= f.text_field :handle %>
    
    <p>Preview your invite:</p>
    <p><%= @msg %></p>
    <%= f.submit "Invite", class: "button" %>
  
<% end %>
