 <script>
  $(function() {
          $( ".datepicker" ).datepicker();
      });
 </script>

<%= form_for(@trip) do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label "Start Date" %>
      <%= f.text_field :starts_at, label: false, class: "datepicker" %>
 
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :ends_at %>
      <%= f.text_field :ends_at, label: false, class: "datepicker" %>
      <br>
      <%= f.submit "Submit", class: "button" %>

    </div>
  </div>
<% end %>

     <% unless @trip.save %>
        
      <% end %>
