 <script>
  $(function() {
          $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
      });
 </script>

<%= form_for(@trip) do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :starts_on, "Start Date" %>
      <%= f.text_field :starts_on, class: "datepicker" %>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :ends_on, "End Date" %>
      <%= f.text_field :ends_on, class: "datepicker" %>
      <%= f.submit "Submit", class: "button" %>
    </div>
  </div>
<% end %>
