<!-- <div class= "panel"> -->

<div class="row">
  <div id='leaflet-container'>
  <div id='map' class='large-9 columns' ></div></div>
  <div class="large-3 columns">
      <h5 id="sidebar">Trip tweets:</h5>
          <%= @statuses.empty? ? "There are no tweets available." : render(@statuses.limit(20)) %>
  </div>
 </div>

  <div id="footer">
      <h5>Tripsters:</h5>
      <ul>
        <% @trip.active_users.each do |user| %>
        <li id="tripster_<%= user.id %>"><%= image_tag user.avatar_url %><%= button_to "-", :action => "destroy", :controller => "invite", :user_id => user.id%></li>
        <% end %>
      </ul>
      <%= link_to "Add Tripster", new_trip_invite_path(@trip.id), {class: "trip-invite-link"} %>
  </div>


<% unless @checkins.empty? %>
  <script>
  var map = L.mapbox.map('map', 'rsoden.map-wjcj2udt');
  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();
  if (map.tap) map.tap.disable();
  

  jQuery.getJSON('<%= @trip.id %>.json', function(checkinData){
    $.each(checkinData, function(index, checkin){
      
      var markerLayer = L.mapbox.markerLayer(checkin).addTo(map);
      markerLayer.eachLayer( function(checkin) {
      var content = '<h5>name: ' + checkin.feature.properties.name + '<\/h5>' +
        '<h6>address: ' + checkin.feature.properties.address + '<\/h6>' +
        '<h6>comment: ' + checkin.feature.properties.comment + '<\/h6>';
        checkin.bindPopup(content); 
      }); 
    });
  });

  map.markerLayer.on('click', function(e) {
        map.panTo(e.layer.getLatLng());
    });
</script>
<% end %>
