<h5><%= @trip.name %></h5>
<% if @owner %>
<%= link_to "Edit", edit_trip_path(@trip.id), {class: "trip-edit-link"} %>
<% end %>
<%=@checkins.count %>
 <%= @checkins ? render(@checkins) : "There are no checkins available." %>
<div id="photos">
  <h1>Recent photos:</h1>
  <%= @photos ? render(@photos) : "There are no photos available." %>
</div>
<div id="tweet">
 <%= @statuses ? render(@statuses) : "There are no statuses available." %>
</div>
