<div class= "panel">
<div class="row">
  
  <div class="large-9 columns" id= "dashboard">
    <h1><%= @trip.name %></h1>
     <%= @checkins ? render(@checkins) : "There are no checkins available." %>
    </div>
  </div>
</div>

<div class= "panel">
<div class="row">
  <div class="large-9 columns" id="photos">
  <h5>Trip photos:</h5>
  <%= @photos ? render(@photos) : "There are no photos available." %>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <div id='map'></div>

    <div id="tweets">
      <h5>Trip tweets:</h5>
     <%= @statuses ? render(@statuses) : "There are no tweets available." %>
    </div>
  </div>

  <div id="tripsters">
    <h4>Tripsters:</h4>
    <%= link_to "Add Tripster", new_trip_invite_path(@trip.id), {class: "trip-invite-link"} %>
  </div>
</div>
<% if @checkins %>
<script>
var map = L.mapbox.map('map', 'rsoden.map-wjcj2udt')
      .setView([<%= @checkins.last.venue_latitude %>, <%= @checkins.last.venue_longitude %>], 13);

      map.touchZoom.disable();
      map.doubleClickZoom.disable();
      map.scrollWheelZoom.disable();
      if (map.tap) map.tap.disable();


L.control.layers({
      'Base Map': L.mapbox.tileLayer('rsoden.map-wjcj2udt').addTo(map),
      'Grey Map': L.mapbox.tileLayer('examples.map-20v6611k')
  }).addTo(map);

var markerLayer = L.mapbox.markerLayer({
        type: 'FeatureCollection',
        features: [{
            type: 'Feature',
            properties: {
                <% @checkins.map do |checkin| %>
                    name: '<%= checkin.venue_name %>',
                    'marker-color': '#ee7600',
                    'marker-size': 'medium',
                    address: '<%= checkin.venue_street_address %>',
                    comment: '<%= checkin.shout %>',
                    checkin_at: '<%= checkin.checkins_at %>'<% end %>
            },
          geometry: {
                type: 'Point',
                <% @checkins.map do |checkin| %>
                coordinates: [ <%= checkin.venue_longitude %>, <%= checkin.venue_latitude %>]
                <% end %>
            }
          }]
        }).addTo(map);

  markerLayer.eachLayer(function(layer) {
    var content = '<h5>name: ' + layer.feature.properties.name + '<\/h5>' +
        '<h6>address: ' + layer.feature.properties.address + '<\/h6>' +
        '<h6>comment: ' + layer.feature.properties.comment + '<\/h6>';
    layer.bindPopup(content);
});
</script>
<% end %>
