

    <div class="left col">
      <div class="header row">
                <%= link_to image_tag("logo.png", class: "logo_image"),root_path %>
                <span class="trip-name"><%= @trip.name %> </span>

                 <%= link_to image_tag('refresh.png'), trip_update_feed_path(@trip.id), {class: "trip-update-feed-link"} %>
            </div>
      <div class="body row scroll-y">
        <div>

          <div id='map'>
            <h5>Trip checkins:</h5>
	    <% unless current_user.feed_sources.where(provider: "Foursquare").first && @trip.users.include?(current_user) %>
	      <p>There are no checkins available. Connect your <%= link_to "FourSquare", feeds_checkins_connect_path %> account to see them!</p>
	    <% else %>
	      <%= @checkins.empty? ? "There are no checkins available." : render(@checkins) %>
	    <% end %>
          </div>

           <div class="scroll-x tiles">
              <ul>
		<% unless current_user.feed_sources.where(provider: "Instagram").first && @trip.users.include?(current_user) %>
		  <p>There are no photos available. Connect your <%= link_to "Instagram", feeds_photos_connect_path %> account to see them!i</p>
		<% else %>
		  <%= @photos.empty? ?  "There are no photos available." : render(@photos) %>
		<% end%>
              </ul>
            </div>

                  </div>
              </div>

              <div class="footer row">
                    <ul class="tripsters-avatars">
                <% @trip.active_users.each do |user| %>
                <li id="tripster_<%= user.id %>"><%= link_to image_tag(user.avatar_url), :action => "destroy", :controller => "invite", :user_id => user.id %><%#= button_to "-", :action => "destroy", :controller => "invite", :user_id => user.id%></li>
                <% end %>
              </ul>

              </div>
          </div>

          <div class="right col">
            <div class="header row">
                My Trips >>
            </div>

            <div class="body row scroll-y">
                <ul class="listview">
                    <%= @statuses.empty? ? "There are no tweets available for this time period." : render(@statuses) %>
                </ul>
            </div>


            <div class="footer row">
                <%= link_to "Add Tripster", new_trip_invite_path(@trip.id), {class: "trip-invite-link"} %>
            </div>
        </div>


    <% unless @checkins.empty? %>

    <script>
      var map = L.mapbox.map('map', 'rsoden.map-wjcj2udt');

      map.touchZoom.disable();
        map.doubleClickZoom.disable();
        map.scrollWheelZoom.disable();
        if (map.tap) map.tap.disable();
        map.markerLayer.on('click', function(e) {
              map.panTo(e.layer.getLatLng());
          });
      jQuery.getJSON('<%= @trip.id %>.json', function(checkinData){
        $.each(checkinData, function(index, checkin){

          var markerLayer = L.mapbox.markerLayer(checkin).addTo(map);
          console.log(markerLayer)
          markerLayer.eachLayer( function(checkin) {
          var content = '<h5>name: ' + checkin.feature.properties.name + '<\/h5>' +
            '<h6>address: ' + checkin.feature.properties.address + '<\/h6>' +
            '<h6>comment: ' + checkin.feature.properties.comment + '<\/h6>';
            checkin.bindPopup(content);
          });
        });
      });
    </script>
    <% end %>
