
<h5><%= @trip.name %></h5>
<div id="photos">
  <h1><%= @current_user.possessive_name %> recent photos:</h1>
  <%= @photos ? render(@photos) : "There are no photos available." %>
</div>
<div id="tweet">
  <% @tweets.each do |t| %>
    <p><%= t.text %></p>
<!--     <p><% t.media.each do |e| %>
    		<p><%= e %></p>
    	<% end %> -->
  <% end %>
</div>
