<!DOCTYPE html>
<html>
<head>
  <title>Tripster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <h2> Triptionary </h2>
  <p> Welcome to the trip aggregator site.  Compile your Instagram photos, FourSquare check-ins and Twitter tweets from your trip" </p>
<% if current_user %>
  <%= current_user.name %> <%=link_to "Add A Trip", new_trip_path %> <%= link_to "Logout", logout_path, method: "delete" %>
<% else %>
  <%= link_to "Login with Twitter", "/auth/twitter" %>
<% end %>
</div>

<%= yield %>

</body>
</html>
