<%# add navigation links to this file %>
<% if current_user %>
<span class="twitteraccount">
  <li><%= image_tag(current_user.avatar_url, id: "profile_image")%></li>
  <li><%= link_to current_user.name, edit_user_path(current_user) %></li>
</span>
  <li><%=link_to "Add A Trip", new_trip_path %></li>
  <li><%= link_to "Dashboard", dashboard_path %></li>
  <li><%= link_to "Logout", logout_path, method: "delete" %></li>
<% else %>
<li><%= link_to image_tag("sign-in-with-twitter-gray.png", alt: "Login with Twitter", class: "twitterlogin"), "/auth/twitter" %></li>
<% end %>
